@media screen and (min-width: 37.5em){

    .page-id-22 .entry-content {
        margin: 0;
    }

    .banner-video-container {
        margin: 0;
        padding: 0;
        background-color: black;
       
    }
    .banner-video-container video {
        position:relative;
        top: 0;
        left: 0; 
      opacity: 0.80;
    
       width: 100%;
       height: 100vh;
       object-fit: cover;

       z-index: 2;
    }

    .content-on-video {
        position: absolute;
        top: 420px;
        left: 20%;
        z-index: 4;
      text-align: center;
      transform: translate(-50%, -50%);
    }

    .content-on-video p {
        color: white;
        font-size: 35px;
        font-weight: bold;
        max-width: 400px;
        line-height: 2em;

    }

    .content-on-video a {
        text-decoration: none;
        color: white;
        background-color: rgb(44, 51, 57);
        border: white solid 2px;
        padding: 15px 40px;
       // border-radius: 30px;
        font-size: large;
        font-weight: bold;
    }

    .cabins-overview {
        display: flex;
        justify-content: space-between;
        margin:150px;
    }

    .cabins-overview-content {
        flex: 1;

        p {
            line-height: 2em;
        }
    }

    .cabins-overview-content {
        img {
        width: 450px;
        height: auto;
        margin: 100px 50px 50px 50px;
        }
    }

  .places-nearby-gallery {
      padding: 50px 150px 70px 150px;
    //  background-color: #0b1318c7;
    background-color: rgb(110, 103, 59);


      h2 {
          width: 500px;
          text-align: center;
         margin-left: auto;
         margin-right: auto;
          color: white;
          padding: 10px;
          border: 1px solid white;
      }
  }

  #lightgallery {
     text-align: center;

     a {
         img {
             margin: 2px;
             width: 200px;
             height: auto;
             border: 5px solid white;
         }
     }
  }
    
}
    