body.error404.wp-custom-logo.theme-homey-cabins.woocommerce-js.hfeed.no-sidebar.woocommerce-active.mob-menu-slideout-over {
    margin-top: 150px;
   

    .not-found {
        margin-left: 100px;
        min-height: 350px;

        ul {
            li {
                line-height: 40px;
                a {
                    font-size: larger;
                }
            }
        }
    }
} 