.home figure {
    margin-top: 0;
}

.site-branding {
    position: absolute;
    top: 0;
    left: 20px;
}

.site-branding img {
    width: 80px;
    height: auto;
}
.site-header {

    display: flex;
  justify-content: space-between;
 
   position: absolute;
    top: 0;
    height: 72px;
    background-image: linear-gradient(#060808b0,#060808b0,#060808b0);

    z-index: 3;
    width: 100%;
 

   // z-index: 999;
}

@media screen and (min-width: 37.5em){
    


}
