.home figure {
    margin-top: 0;
}

.site-branding {
    position: absolute;
    top: 5px;
    left: 40px;
    z-index: 4;
}

.site-branding img {
    height: 60px;
    width: auto;
}
.site-header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    height: 72px;
    background-color: #fff;
    opacity: 0.9;
    z-index: 3;
    width: 100%;
}

.mob-standard-logo {
    margin-top: -15px;
}
