.main-navigation {
	display: block;
	width: 100%;
	position: relative;
	top: 20%;
	z-index: 9999;


	ul {
		display: none;
		list-style: none;
		margin: 0 ;
		padding-left: 0;
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;

}

@media screen and (min-width: 50em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation {
		position: absolute;
		top:25px;
		z-index: 3;
	

	}
	.main-navigation ul {
		display: flex;
		justify-content: space-between;
		float: right;
		padding-right: 20px;
	}

	.main-navigation ul li {
		padding: 0 30px;
	}

	.main-navigation ul li a {
		font-size: 16px;
		font-weight: 700;
		font-family: $font__content;
	}

	.main-navigation ul li a:hover {
		color: 	rgb(102, 43, 25);
	}

	.main-navigation ul ul {
	//	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		float: left;
		position: absolute;
		top: 100%;
		left: -999em;
		z-index: 99999;
	//	display: block;
		padding-top: 16px;
	

	
		ul {
			left: -999em;
			top: 0;
		}
		li {
			background-color: rgba(121, 118, 117, 0.623);
	
			&:hover > ul,
			&.focus > ul {
				display: block;
				left: auto;
			}
		}

		a {
			color: white;
			font-weight: normal;
			width: max-content;
			padding-top: 10px;
			padding-bottom: 10px;
			font-family: 'Open Sans', sans-serif;
		}
		:hover > a,
		.focus > a {
			background-color: rgba(121, 118, 117, 0.8);;
		}
		a:hover,
		a.focus {
		}
	}
	li:hover > ul,
	li.focus > ul {
		left: -120px;  // Sub-nav position
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
